<div class="tag-list">
  <mat-form-field class="tag-list__form" appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList aria-label="selection">
      <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)" (click)="addFiltering(tag)">
        {{tag.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
  <button (click)="cancelFilters()" mat-button> Cancel all Filters </button>
</div>
