<div class="note">
  <h4 class="note__title"> New Note </h4>
  <form class="note__form" [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Note</mat-label>
      <input
        formControlName="text"
        matInput
        placeholder="enter"
        type="text"
      />
    </mat-form-field>
    <div class="form-group">
      <button type="submit" mat-button>
        submit
      </button>
    </div>
    <mat-form-field class="note__chip-list" appearance="fill">
      <mat-label>Tags</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
          {{fruit.name}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="New tag..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </form>
</div>
